body {
    font-family: Roboto,Source Sans Pro,Calibri,Arial,sans-serif;
    background: #E2E4EF;
    margin: 0;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.logo {
   position: absolute;
   top: 50%;
   left: 50%;
   height: 50%;
   width: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%) }
}
.read-more {
  text-align: center;
  color: black;
  font-size: 12px;
  margin-top: 3em;
}
