body {}
body {
    font-family: Roboto,Source Sans Pro,Calibri,Arial,sans-serif;
    background: #222;
    margin: 0;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.home {background: #2196f3;}

header {
    height: 3rem;
    line-height: 3rem;
    background: #222;
}

header a {
    display: inline-block;
    padding: 0 16px;
    text-decoration: none;
    color: #fff;
}

a {
    transition: color .3s,border-color .3s,background-color .3s;
    color: #2196f3;
    text-decoration: none;
}

header nav {
    float: right;
}
