body {margin: 0;}

body {
    font-family: Roboto,Source Sans Pro,Calibri,Arial,sans-serif;
    background: #222;
    margin: 0;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li.left-nav {
    border-left:1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.right {
    float: right;
}

.active {
    background-color: #2196f3;
}

.logo {
   position: absolute;
   top: 50%;
   left: 50%;
   height: 50%;
   width: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%) }
}
