body {
    font-family: Roboto,Source Sans Pro,Calibri,Arial,sans-serif;
    background: #111;
    margin: 0;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

h1 {
    text-align: center;
    font-size: 100px;
    color: white;
}

p {
    text-align: center;
    font-size: 30px;
    width: 90%;
    color: white;
}

.text-url {
  text-decoration: none;
  color: #14BAE4;
}

.blue-text {color: #14BAE4;}

.logo {
   position: relative;
   top: 50%;
   left: 50%;
   height: 50%;
   width: 50%;
   margin-top: 1%;
   margin-right: -50%;
   transform: translate(-50%, -50%) }
}

footer {
    padding: 3rem;
    background: #222;
    color: #888;
}

.container {
    margin: 0 auto;
    max-width: 1120px;
}

footer .container {
    text-align: center;
}

strong {
    font-weight: bold;
}

strong {
    font-weight: inherit;
    font-weight: bolder;
}

footer a {
    transition: color .3s,border-color .3s,background-color .3s;
    text-decoration: none;
    color: #888;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

p {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
