body {
    font-family: Roboto,Source Sans Pro,Calibri,Arial,sans-serif;
    background: #E2E4EF;
    margin: 0;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

h1 {
    text-align: center;
    font-size: 100px;
}

p {
    text-align: center;
    font-size: 30px;
}

.url {
  text-decoration: none;
  color: #14BAE4;
}

.title {
  background-color: #2196f3;
  background-size: cover;
}


.blue-text {color: #14BAE4;}

.heading {

}

.logo {
   position: relative;
   top: 50%;
   left: 50%;
   height: 50%;
   width: 50%;
   margin-top: 1%;
   margin-right: -50%;
   transform: translate(-50%, -50%) }
}
