ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li.left-nav {
    border-left:1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

li a:hover:not(.inactive) {
    background-color: #1D87DA;
}

.right {
    float: right;
}

.active {
    background-color: #2196f3;
}

.credits {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    padding-bottom: 10px;
}

.url {
  text-decoration: none;
  color: #E74C3C;
}

.text-effect {
    text-shadow: 3px 3px 15px black;
    transition: all 0.5s ease;
}

.box {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px 0px 0px 0px;
    padding-left: 10px;
    padding-top: 10px;
}
